
@-webkit-keyframes fadeIn

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

.fadeIn
    -webkit-animation-duration: 5s
    animation-duration: 5s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
    -webkit-animation-name: fadeIn
    animation-name: fadeIn
