@charset "utf-8"

// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,300&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,500&display=swap')

@font-face
    font-family: 'Rubik'
    src: url('/fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype supports variations')
    src: url('/fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype-variations')
    font-weight: 300 900

@font-face
    font-family: 'Rubik'
    src: url('/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype supports variations')
    src: url('/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype-variations')
    font-weight: 300 900
    font-style: italic

@font-face
    font-family: 'Bitter'
    src: url('/fonts/bitter/Bitter-VariableFont_wght.ttf') format('truetype supports variations')
    src: url('/fonts/bitter/Bitter-VariableFont_wght.ttf') format('truetype-variations')
    font-weight: 100 900

@font-face
    font-family: 'Bitter'
    src: url('/fonts/bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype supports variations')
    src: url('/fonts/bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype-variations')
    font-weight: 100 900
    font-style: italic

@font-face
    font-family: 'Jetbrains Mono'
    src: url('/fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype supports variations')
    src: url('/fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype-variations')
    font-weight: 100 800

@font-face
    font-family: 'Jetbrains Mono'
    src: url('/fonts/jetbrains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype supports variations')
    src: url('/fonts/jetbrains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype-variations')
    font-weight: 100 800
    font-style: italic
