@charset "utf-8"

@import "fonts.sass"
@import "vars.sass"
@import "../node_modules/prismjs/themes/prism.css"

html, body
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 14pt
    font-weight: 300

i, em, .italic
    /* Should be font-style: italic; */
    font-variation-settings: 'ital' 1

h1, h2, h3, h4, h5, h6
    font-family: $serif-font
    font-weight: 300 !important

pre
    font-family: 'JetBrains Mono', monospace !important
    font-size: 12pt !important
    margin-bottom: 2em !important

code
    font-family: 'JetBrains Mono', monospace !important
    font-size: 12pt !important

a
    text-decoration: none

a:hover
    text-decoration: underline
